body
{
    background: #e0e0e0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.45em;
}

a, a:visited { color: #008; }
a:hover { color: #F00; }

#example-page
{
    width: 1100px;
    margin: 40px auto;
    background: white;
    border: 1px solid #c0c0c0;
    padding: 20px;
    box-shadow: #888 0 2px 8px;
}

input
{
    background: white; border: 1px solid #e0e0e0; padding: 4px;
    -moz-box-shadow:inset 1px 1px 1px #888;
    -webkit-box-shadow:inset 1px 1px 1px #888;
    box-shadow:inset 1px 1px 1px #888;
    border-radius: 2px;
}

.logo { padding: 8px 0 8px 0; }
.logo .left { float: left; }
.logo .con { margin: 0 0 0 140px; }
.logo .right { float: right; font-size: 13px; }

h1 { margin: 8px 0 8px 0; padding: 0; font-size: 2.5em; }